@import '__variables.scss';
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: 'Montserrat', sans-serif;
  
}

ul {
  list-style-type:none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container {  
  max-width: $container-width;
  padding: 0px 30px;
  margin: 0 auto;
  // border: 2px solid rosybrown;
 
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  
}

main{  
  flex: 1; 
  padding: 70px 0 0 0; 
}
header, main, footer {
  flex-shrink: 0;
}

footer,header{ 
  background: rgb(189,189,189);
  background: linear-gradient(180deg, rgba(189,189,189,1) 0%, rgba(197,197,207,1) 35%, rgb(226, 225, 225) 100%);
}

header{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}




@media (max-width: 767px) {
 
}

