$color-primary: rgb(238, 237, 237);
$color-secondary: rgb(170, 42, 42);
$container-width: 1000px;
$header-height:70px;
$linear-gradient: linear-gradient(180deg, rgba(189,189,189,1) 0%, rgba(197,197,207,1) 35%, rgba(244,244,244,1) 100%);